*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.sidebar {
   min-height: 100vh;
   background-color: black;

 }
/* .sidebar2 ul li:hover{
 background-color: rgba(255,255,25,0.2);
} */

.profile:hover{
   background-color: rgba(255,255,25,0.2);
}
.cursor-pointer{
   cursor: pointer;
}
